$home-bg:$white;

.home-section{
    @include styleSecton(150px,150px, $home-bg);
    background-image: url(assets/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

